<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block ad_boleta_title %}ADBoletaBundle{% endblock %} - {% block ad_boleta_subtitle %}Inicio{% endblock %}</title>
        {% block ad_boleta_stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block ad_boleta_body %}{% endblock %}
        {% block ad_boleta_javascripts %}{% endblock %}
    </body>
</html>
