{{ render(controller('ADPerfilBundle:Navegacion:breadcrumbs')) }}
{{ render(controller('ADPerfilBundle:Navegacion:menu')) }}
{{ render(controller('ADPerfilBundle:Navegacion:pageTitle')) }}
<div class="row">{{ render(controller('ADBoletaBundle:Filtro:boletas')) }}</div>
<div id="table-boletas">
    <div class="alert alert-info">Para ver las boletas realice los filtros requeridos.</div>
</div>